@import 'tailwindcss';
@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-nato: 'Nato-Sans' sans-serif;

  --color-header-bg: #FFFAFA;
  --color-primary-yellow: #d4a017;
  --color-primary-blue: #243b4a;
  --color-footer-bg: #A50021;
  --color-font-primary: #5c4033;
  --color-primary-red: #A50021;
}

body {
  @apply font-nato;
}

.slick-dots li button:before {
  font-size: 16px !important;
  color: #FFFAFA !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #A50021 !important;
}

@media (min-width: 1442px) {
  .slider-padding {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.border-opacity-20 {
  border-color: rgba(36, 59, 74, 0.2); /* Assuming primary blue color with 20% opacity */
}

.font-weight-250 {
  font-weight: 250;
}

.overflow-hidden {
  overflow: hidden;
}