@import 'tailwindcss';
@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Light.woff2') format('woff2');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Nato-Sans';
  font-style: normal;
  src: url('/assets/fonts/NotoSansGeorgian-Bold.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-nato: 'Nato-Sans' sans-serif;

  --color-header-bg: #FFFAFA;
  --color-primary-yellow: #d4a017;
  --color-primary-blue: #001F3F;
  --color-footer-bg: #8B0000;
  --color-font-primary: #5C4033;
  --color-primary-red: #8B0000;
}

body {
  @apply font-nato;
}

.slick-dots li button:before {
  font-size: 16px !important;
  color: #FFFAFA !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #A50021 !important;
}

@media (min-width: 1442px) {
  .slider-padding {
    padding-left: 48px;
    padding-right: 48px;
  }
}

.border-opacity-20 {
  border-color: rgba(36, 59, 74, 0.2);
}

.font-weight-250 {
  font-weight: 250;
}

.overflow-hidden {
  overflow: hidden;
}

@media (min-width: 390px) {
  .max-390 {
   width: 163px;
   height: 208px;
  }
}

@media (min-width: 1090px) {
  .max-1090-size {
    height: 400px;
    width: 318px;
  }
}


@media (min-width: 560px) {
  .min-560 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1090px) {
  .max-1090 {
    grid-template-columns: repeat(4, 1fr);

  }
}

@media (min-width: 1442px) {
  .max-1081 {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1090px) {
  .max-1442-dp-none {
    display: none;
  }
}

@media (max-width: 770px) {
  .max-770 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 560px) {
  .max-560 {
    grid-template-columns: repeat(2, 1fr);
  }
}
